<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do List</h1>
        <form method="POST" action="/">
            <input name="item_text"
                   id="id_new_item"
                   placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>
    </body>
</html>
